@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #090d14;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

button,
a {
  cursor: pointer;
}
